body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: #ffffff;
    position: relative;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.background{
    position: absolute;
    font-size: 15vw;
    font-family: serif;
    color: #f9f8f7;
    font-weight: bold;
    z-index: 0;
    pointer-events: none;
}

.content{
    z-index: 1;
    color:#aa9d90;
}

a{
    background-color: #82756b;
    text-decoration: none;
    color:#ffffff;
    padding:10px 20px;
}